.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 28px;
}

.inputsWrapper {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  margin-bottom: 18px;
}

.forgotPassword {
  cursor: pointer;

  align-self: flex-end;

  margin-top: 12px;
  margin-right: 12px;
  margin-bottom: 66px;

  color: var(--color-light-100);
  text-decoration: unset;

  &:visited {
    color: inherit;
  }
}

.formFooter {
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  align-items: center;

  margin-top: 20px;
}

.caption {
  color: var(--color-light-900);
}

.signUp {
  cursor: pointer;
  color: var(--color-accent-500);
  text-decoration: underline;
}
