.root {
  display: flex;
  flex-direction: column;
  gap: 24px 0;

  width: 100%;
  max-width: 1000px;
}

.cover {
  overflow: hidden;
  max-width: 100px;
  border-radius: 2px;

  img {
    width: 100%;
  }
}

.headerBar {
  display: flex;
  width: 100%;
}

.addNewCard {
  margin-left: auto;
}

.deckTitle {
  margin-right: 10px;
}
