.card {
  position: relative;
  z-index: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 420px;
  padding: 32px 36px;

  background-color: var(--color-dark-700);
  border: 1px solid #313131;
  border-radius: 2px;
}
